/*Nav Bar*/
.navbar-text {
    color: #EFEAD8;
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    left: 44%;
    align-items: justify;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    transition: 0.7s;
}

nav {

    display: flex;
    justify-content: center;
    align-items: bottom;
    padding: 30px 50px;
    transition: 0.7s;

}

header.abajo {
    background: #EFEAD8;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: row;

}

header ul li {
    list-style: none;

}

header ul li a {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: #EFEAD8;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 500;
    transition: 0.7s;

}


header ul li a:hover {
    color: #256D85;
}


h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #EFEAD8;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: black;
}

/*nav bar*/

#titulo {
    background-color: #B2B2B2;
    padding: 2%;
}

/*contacto*/

#contacto {
    background-color: #B2B2B2;
    padding: 4% 0% 7% 0%;
    text-align: center;
}

.img {
    float: center;
    border-radius: 100%;
    width: 300px;
    padding: 4%;
}

.img-logos {
    float: center;
    width: 40px;
    height: 40px;
    margin: 1% 1%;
}

/*Publicidad*/
#publicidad {
    width: 100%;
    background: url(https://mir-s3-cdn-cf.behance.net/projects/404/33701711221215.Y3JvcCw1NzEsNDQ3LDAsMTA5.jpg);
    background-size: cover;
    padding: 20% 10% 30% 0%;
}

.perfil {
    padding: 5% 4% 0% 5%;
    text-align: left;
}

.button {
    margin-top: 10%;

}

/*Footer*/
#footer {
    background-color: #434242;
    padding: 4%;
    text-align: right;
}

.footer-link {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    color: #B2B2B2;
    text-decoration: none;
}

.footer-link:hover {
    color: #256D85;
}

.copyright {
    color: #B2B2B2;
    text-align: left;
}